.word {
	font-size: x-large;
	cursor: pointer;
	/* font-family: 'Frank Ruhl Libre, serif',  */
	font-family: "Times New Roman", Times, serif;
}

.verse-number {
	font-weight: bold;
	font-size: larger;
}
