/* :root {
    --main-color: maroon;
    --secondary-color: firebrick;
    --bg-color: bisque;
    --bg-secondary-color: peru;
    --font-title: 'Cormorant Garamond', serif;
    --font-body: 'Cardo', serif;
} */

/* :root {
    --main-color: darkslategray;
    --secondary-color: gray;
    --bg-color: seashell;
    --bg-secondary-color: lightgray;
    --font-title: 'Cormorant Garamond', serif;
    --font-body: 'Cardo', serif;
} */
 :root {
     --main-color: saddlebrown;
     --secondary-color: sienna;
     --bg-color: antiquewhite;
     --bg-secondary-color: burlywood;
     --font-title: 'Cormorant Garamond', serif;
     --font-body: 'Cardo', serif;
 }

 body {
     background-color: var(--bg-color);
     font-family: var(--font-body);
 }
 h1 {
     font-size: xx-large;
     font-weight: 700;
 }
 h1,
 h2 {
     font-family: var(--font-title);
 }
 h2 {
    font-size:x-large;
    font-weight: 700;
 }

 h3 {
     font-size: large;
     font-weight: 700;
 }

 a {
     color: var(--main-color);
 }

 a:hover {
     color: var(--secondary-color);
 }

 i {
     font-family: 'FontAwesome' !important;
 }

 header,
 footer {
     background-color: var(--bg-secondary-color);
 }

/* 
FONTS
'Cardo', serif; 
'Alef', sans-serif; 
Frank Ruhl Libre', serif;
'Cinzel', serif; 
'Cormorant Garamond', serif;  
*/

.toast {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #323232;
    color: white;
    padding: 10px;
    border-radius: 25px;
    max-width: 80%;
    text-align: center;
    z-index: 1000;
    font-size: 1rem;
}

