{% extends 'app/layout.html' %}
{% load static %}

{% block title %}Read Page{% endblock %}

{% block content %}
<style>
    .word {
        cursor: pointer;
    }
</style>
<script>
    function getGradientColor(penalty) {
        const green = [0, 0, 0];
        const red = [255, 0, 0];
        const ratio = penalty / 10;

        const r = green[0] + ratio * (red[0] - green[0]);
        const g = green[1] + ratio * (red[1] - green[1]);
        const b = green[2] + ratio * (red[2] - green[2]);

        return `rgb(${r}, ${g}, ${b})`;
    }

    function showWordAttributes(word) {
  word = word.replace(/'/g, '"')
  word = word.replace(/None/g, null);
  const formatted_word = JSON.parse(word);
  const attributes = Object.entries(formatted_word).map(
    ([key, value]) => {
      if (value !== null && value !== "" && value !== " ") {
        return `<b>${key}:</b> ${value}`;
      }
      return null;
    }
  ).filter(attr => attr !== null).join('<br>');

  // Get the attributes div element and update its content
  const attributesDiv = document.getElementById('attributes-div');
  attributesDiv.innerHTML = attributes;

  // Show the attributes div element
  attributesDiv.style.display = 'block';
}

document.addEventListener('DOMContentLoaded', () => {
  const words = document.querySelectorAll('.word');
  words.forEach(word => {
    const penalty = parseFloat(word.dataset.penalty);
    word.style.color = getGradientColor(penalty);
  });

  // Add a div element to hold the attributes
const attributesDiv = document.createElement('div');
attributesDiv.id = 'attributes-div';
attributesDiv.style.display = 'none';
attributesDiv.style.width = '200px';
attributesDiv.style.position = 'absolute';
attributesDiv.style.top = '200px';
attributesDiv.style.right = '0';
attributesDiv.style.marginRight = '10px'; // Add margin-right
attributesDiv.style.padding = '10px';
attributesDiv.style.backgroundColor = 'white';
attributesDiv.style.boxShadow = '2px 2px 5px rgba(0, 0, 0, 0.5)';
attributesDiv.innerHTML = '<span style="float:right;cursor:pointer;" onclick="document.getElementById(\'attributes-div\').style.display = \'none\'">Close</span><br>';


  // Insert the attributes div element after the paragraph div element
  const paragraphDiv = document.getElementById('paragraph');
  paragraphDiv.parentNode.insertBefore(attributesDiv, paragraphDiv.nextSibling);
});

</script>
</head>

<body>
    <h1 style="font-weight: bold;">{{ reference }}</h1>
    <br />
    <div id="paragraph" style="max-width: calc(100% - 210px);"> <!-- Add max-width -->
        {% for word in words %}
          <span style="font-family:'Times New Roman', Times, serif;font-size:larger" class="word"
            data-penalty="{{ word.penalty }}" onclick="showWordAttributes('{{ word|escapejs }}')">{{ word.text }}{{ word.trailer }}</span>
        {% endfor %}
      </div>
</body>
{% endblock %}