{% extends 'layout.html' %}

{% block title %}Settings{% endblock %}

{% block content %}

    <div class="mt-8 flex min-h-96 min-w-128 flex-col items-center gap-4">
        <h1 class="mb-4 text-4xl font-bold">Settings</h1>
        <form class=""
              method="post"
              action="{% url 'delete_words' %}"
              id="deleteWordsForm">
            {% csrf_token %}
            <button class="btn"
                    type="button"
                    onclick="confirmDeleteWords()">Delete All Words</button>
        </form>
        <form method="post"
              action="{% url 'delete_passages' %}"
              id="deletePassagesForm">
            {% csrf_token %}
            <button class="btn"
                    type="button"
                    onclick="confirmDeletePassages()">
                Delete All Passages
            </button>
        </form>
        <form method="post"
              action="{% url 'delete_algorithms' %}"
              id="deleteAlgorithmsForm">
            {% csrf_token %}
            <button class="btn"
                    type="button"
                    onclick="confirmDeleteAlgorithms()">
                Delete All Algorithms
            </button>
        </form>
        {% if success %}<h2>Status: {{ success }}</h2>{% endif %}
    </div>

    <script>
        function confirmAction(formId, message) {
            var isConfirmed = confirm(message);
            if (isConfirmed) {
                var enteredPassword = prompt("Enter the secret password:");
                if (enteredPassword) {
                    var form = document.getElementById(formId);
                    var input = document.createElement("input");
                    input.type = "hidden";
                    input.name = "password";
                    input.value = enteredPassword;
                    form.appendChild(input);
                    form.submit();
                } else {
                    alert("Password is required. Action canceled.");
                }
            }
        }

        function confirmDeleteWords() {
            confirmAction("deleteWordsForm", "Are you sure you want to delete all words from the database?");
        }

        function confirmDeletePassages() {
            confirmAction("deletePassagesForm", "Are you sure you want to delete all passages from the database?");
        }

        function confirmDeleteAlgorithms() {
            confirmAction("deleteAlgorithmsForm", "Are you sure you want to delete all algorithms from the database?");
        }
    </script>

{% endblock %}
