{% load list_extras %}
{% load json %}

{% load static %}

<div class="frequencies hidden flex-col rounded border border-slate-300 bg-slate-50 px-2 text-sm">
</div>
<div class="frequency-extras grid grid-cols-2 gap-2"></div>
<div class="verbs hidden flex-col rounded border border-slate-300 bg-slate-50 px-2 text-sm">
</div>
<div class="verb-extras"></div>
<div class="nouns hidden flex-col rounded border border-slate-300 bg-slate-50 px-2 text-sm">
</div>
<div class="clauses hidden flex-col rounded border border-slate-300 bg-slate-50 px-2 text-sm">
</div>
<div class="phrases hidden flex-col rounded border border-slate-300 bg-slate-50 px-2 text-sm">
</div>
<div class="config-extras"></div>
