{% load static %}

<div id="word-highlights-dropdown"
     class="dropdown inline-block flex flex-row items-start">
    <button id="highlights-btn"
            class="btn inline-flex items-center rounded bg-gray-300 px-4 py-2 font-semibold text-gray-700">
        <span class="mr-1">Text Features</span>
        <svg class="h-4 w-4 fill-current"
             xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 20 20">
            <path d="M10 12l-6-6 1.414-1.414L10 9.172l4.586-4.586L16 6z" />
        </svg>
    </button>
    <div class="relative z-20">
        <ul id="word-highlights-dropdown-menu"
            class="ml-1 grid hidden grid-cols-3 gap-1 rounded bg-gray-200 p-1 text-gray-700">

            <!-- Dropdown items will be populated by JavaScript -->
        </ul>
    </div>
</div>

<script type="module"
        src="{% static 'js/widgets/word_highlights.js' %}"></script>
