{% extends 'layout.html' %}
{% load static %}
{% load list_extras %}

{% block title %}Passages Page{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/passages_compare.css' %}">
{% endblock %}

{% block content %}

<div class="container mx-auto px-4">
    <div class="ml-4 mb-6">{% include 'widgets/word_highlights_dropdown.html' %}
    </div>
    <div class="flex flex-row">

        {% for text_passage in text_passages %}
        <div class="passage-container flex flex-col w-1/2 mx-1 py-3 px-4">
            <div class="flex flex-row justify-center items-center my-4">
                <button class="btn" onclick="showDropdown(this)">
                    {{ text_passage.reference }}
                </button>
                <h2 class="ml-8">{{ text_passage.penalty }}</h2>
            </div>

            <!--  USED by the API CALL -->
            <div class="passage-text" 
        data-id="{{ text_passage.id }}"></div>
        
        </div>
        {% endfor %}

        <!-- Dropdown menu for search passages -->
        <div id="dropdown-menu" class="dropdown-menu mt-1">
            <input type="text" class="border-b w-full p-2" id="searchInput" oninput="filterDropdown()" placeholder="Search...">
            <ul class="list-none p-0 overflow-auto max-h-72">
                {% for passage in passages %}
                <li class="passage-item p-2 hover:bg-gray-200 cursor-pointer" 
                    data-ref="{{ passage.reference}}"
                    data-id="{{ passage.id}}"
                    data-word-count="{{ passage.word_count }}"
                    data-penalty="{{ passage.penalty }}">
                    {{ passage.reference }}
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

<!-- Selected word data -->
{% include 'widgets/selected_word.html' %}

<script type="module" src="{% static 'js/hebrew_text.js' %}"></script>
<script type="module" src="{% static 'js/passages_compare.js' %}"></script>

{% endblock %}

