{% extends 'layout.html' %}
{% load static %}
{% load list_extras %}

{% block title %}Passages Page{% endblock %}

{% block content %}

<div class="container mx-auto px-4">
  <h1 class="text-4xl font-bold my-8">Passages</h1>
  <form id="filterForm" method="get" class="mb-8">
    <!-- Filter Passages -->
    <div class="flex items-center mb-4">
      <label for="book" class="mr-4 font-bold">Book:</label>
      <select name="book" id="book" class="border border-gray-400 rounded px-2 py-1">
        <option value="ALL">ALL</option>
        {% for book in books %}
        <option value="{{ book.number }}">{{ book.name }}</option>
        {% endfor %}
      </select>
      <button type="button" class="btn ml-4"
        onclick="filterPassages()">Search</button>
    </div>
    <!-- Sort Passages -->
    <div class="flex items-center">
      <label for="sort" class="mr-4 font-bold">Sort by:</label>
      <select name="sort" id="sort" class="border border-gray-400 rounded px-2 py-1">
        <option value="word_count">Word Count</option>
        <option value="id">ID</option>
        <option value="penalty">Penalty</option>
      </select>
      <label for="order" class="ml-4 mr-4 font-bold">Order:</label>
      <select name="order" id="order" class="border border-gray-400 rounded px-2 py-1">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
      </select>
      <button type="button" class="btn ml-4"
        onclick="sortPassages()">Sort</button>
    </div>
  </form>
  <!-- Passage Cards -->
  {% if passages_loaded %}
  <div id="passages-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for passage in passages %}
    <div class="passage-card bg-white rounded shadow-lg overflow-hidden" onclick="submitPassage('{{ passage|escapejs }}')"
      data-id="{{ passage.id }}"
      data-book="{{ passage.book }}"
      data-word-count="{{ passage.word_count }}" data-penalty="{{ passage.penalty }}">
      <div class="p-4">
        <h2 class="text-lg font-bold mb-2">{{ passage.reference }}</h2>
        <p class="text-gray-700 mb-2">Weight: {{ passage.penalty }}<br>Length: {{ passage.word_count }} words</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Data not loaded content -->
  {% else %}

  <h1 class="text-2xl font-bold">Data not yet initialized... loading passages into database</h1><br />
  <p>This page should reload in <b>2–3</b> minutes ⏳</p>
  <p>Otherwise, please reload yourself.</p>
  <div class="w-full h-full flex items-center justify-center mt-12 my-4">
    <img src="{% static 'loading.gif' %}" alt="Loading" class="w-14 h-14">
  </div>

  <script>
    checkDataReady('PASSAGES');
  </script>

  {% endif %}

  <script>
    const books = contextToJson('{{ books|escapejs }}');
  </script>
  <script src="{% static 'js/passages.js' %}"></script>

  {% endblock %}