{% extends 'layout.html' %}
{% load static %}

{% block title %}Read Page{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/read.css' %}">
{% endblock %}

{% block content %}

<body>

  {% if words_loaded %}

  <!-- Passage header content -->
  <!-- <div class="relative mb-8"> -->
  <div class="flex justify-center items-center mb-8">
    <!-- h1 class="text-2xl font-bold inline"></h1> -->
    <!-- <span class="mr-4">
    <button id="bookSelectionButton" class="btn">
      <i class="fa-regular fa-book"></i>
    </button>
  </span> -->
    <button id="prevButton" onclick="changeChapter(-1, '{{ reference }}')"
      class="mr-4 btn">Prev</button>
    <span><button id="bookSelectionButton"
        class="btn">{{ reference }}</button>
      {% include 'widgets/chapter_selector.html' %}
    </span>
    <button id="nextButton" onclick="changeChapter(1, '{{ reference }}')"
      class="ml-4 btn">Next</button>
    <button id="toggleVerseNumbers" onclick="toggleVerseNumbers()"
      class="ml-4 btn">Verses</button>
  </div>

  <!-- Passage text content -->
  {% include 'widgets/hebrew_text.html' %}

  <!-- Data not loaded content -->
  {% else %}

  <h1 class="text-2xl font-bold">Data not yet initialized... loading words into database</h1><br />
  <p>This page should reload in <b>2–3</b> minutes ⏳</p>
  <p>Otherwise, please reload yourself.</p>
  <div class="w-full h-full flex items-center justify-center mt-12 my-4">
    <img src="{% static 'loading.gif' %}" alt="Loading" class="w-14 h-14">
  </div>

  <script>
    checkDataReady('WORDS');
  </script>
  {% endif %}
</body>

<script>
  const books = contextToJson('{{ books|escapejs }}');
</script>

<script src="{% static 'js/read.js' %}"></script>

{% endblock %}