{% extends 'layout.html' %}
{% load static %}

{% block title %}Algorithms Page{% endblock %}

{% block content %}
    <div class="mx-auto flex flex-col py-10">
        <h1 class="mb-8 text-4xl font-bold">Algorithms</h1>
        {% for algorithm in algorithms %}
            <div class="mb-4 rounded-lg bg-white p-6 shadow-lg">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row justify-between">
                        <div class="text-xl font-bold">{{ algorithm.name }}</div>
                        <div class="">
                            <a href="#"
                               class="delete-btn mt-3 rounded bg-red-500 px-2 font-bold text-white hover:bg-red-700"
                               data-id="{{ algorithm.pk }}">x</a>
                        </div>
                    </div>
                    <div class="flex flex-row gap-3">
                        <strong>Created:</strong> {{ algorithm.created_at }}
                        <strong>Updated:</strong> {{ algorithm.updated_at }}
                    </div>
                    {% if algorithm.frequencies %}

                        <div>
                            <strong>Frequencies:</strong>{{ algorithm.frequencies }}
                        </div>
                    {% endif %}
                    <div>
                        <strong>Penalize Stop Words:</strong> {{ algorithm.include_stop_words }}
                    </div>
                    <div class="flex flex-row gap-3">
                        <strong>Taper Discount:</strong> {{ algorithm.taper_discount }}
                        <strong>Proper Noun Divisor:</strong> {{ algorithm.proper_noun_divisor }}
                        <strong>Qere Penalty:</strong> {{ algorithm.qere_penalty }}
                    </div>
                    {% if algorithm.verbs %}
                        <div>
                            <strong>Verbs:</strong> {{ algorithm.verbs }}
                        </div>
                    {% endif %}

                    <div>
                        <strong>Penalize by Verb Stem:</strong> {{ algorithm.penalize_by_verb_stem }}
                    </div>
                    {% if algorithm.construct_nouns.count > 0 %}
                        <div>
                            <strong>Construct Nouns:</strong> {{ algorithm.construct_nouns }}
                        </div>
                    {% endif %}

                    {% if algorithm.clauses.count > 0 %}
                        <div>
                            <strong>Clauses:</strong> {{ algorithm.clauses }}
                        </div>
                    {% endif %}

                    <div>
                        <strong>Total Penalty Divisor:</strong> {{ algorithm.get_total_penalty_divisor_display }}
                    </div>
                </div>

            </div>
        {% endfor %}

    </div>

    <script>
        $(document).ready(function() {
            $('.delete-btn').on('click', function(e) {
                e.preventDefault();

                var algorithmId = $(this).data('id');

                // Send request to the server
                $.ajax({
                    url: '{% url "delete_algorithm" %}',
                    method: 'POST',
                    data: {
                        id: algorithmId
                    },
                    success: function() {
                        // Refresh the page on successful deletion
                        window.location.reload();
                    },
                    error: function() {
                        // Handle error
                        alert('Deletion failed');
                    }
                });
            });
        });
    </script>

{% endblock %}
