{% extends 'layout.html' %}
{% load static %}
{% load list_extras %}

{% block title %}Passages Page{% endblock %}

{% block styles %}
    <style>
        .comparison-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            gap: 10px;
        }
    </style>

{% endblock %}

{% block content %}

    <div class="flex flex-col">
        <div>
            <button class="btn my-5 ml-4" id="compare-mode"></button>
        </div>
        <div class="" id="compare-widgets-mode">
            <div class="comparisons-header mb-6 ml-4 space-y-3">
                {% include 'widgets/word_highlights_dropdown.html' %}
                <button class="toggle-form-button">
                    <span class="material-icons md-42">precision_manufacturing</span>
                </button>
            </div>

            <div id="alg">...</div>
            <div class="mt-8">
                <button class="add-widget add-btn float-right">+</button>
                <div class="comparison-container">
                    {% for passage in passages %}
                        <div class="passage-widget" data-id="{{ passage.id }}"></div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Passage selection dropdown -->
        <div class="flex w-2/3 justify-center">
            <button class="btn passage-dropdown-btn reference-button"
                    data-id="{{ passage.id }}">
                {{ passage.reference_abbr }}
            </button>
        </div>

        {% include 'widgets/passage_selector.html' %}

        <div class="" id="compare-lists-mode">
            {% include 'widgets/compare_algorithms_form.html' %}
            <div class="mt-8">
                <div class="comparison-container">
                    <div class="passage-widget"></div>
                    <div class="passage-widget"></div>
                </div>
            </div>
            <div id="passage-penalty-comparisons"></div>
        </div>
    </div>

    {% include 'widgets/algorithm_form.html' %}
    <!-- Required import to maintain unique id with multiple text widgets -->
    {% include 'widgets/selected_word.html' %}

    <script type="module"
            src="{% static 'js/passages_compare.js' %}"></script>
{% endblock %}
