.passage-container {
    background: whitesmoke; /* use theme color */
    border-radius: 8px;
}

.comparison-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Adjust 250px as per your design */
    /* Adjust as needed */
}