.word {
    cursor: pointer;
    font-family: 'Frank Ruhl Libre, serif', 
    /* margin-left: -0.25em;  */
  }

  .selected {
    font-weight: bold;
  }

  .verse-number {
    font-weight: bold;
    font-size: larger
  }

  .chapter-grid {
    @apply -mr-1;
  }

  .book-entry {
    overflow: visible !important;
  }

  #bookDropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 80vh;
    overflow-y: auto;
    z-index: 1000;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #paragraph span {
    margin: 0;
    padding: 0;
  }

  #attributes-div {
    display: none;
    width: 200px;
    position: absolute;
    top: 200px;
    right: 0;
    margin-right: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  #attributes-div button {
    position: absolute;
    font-family: monospace;
    top: 0;
    right: 0;
    background-color: grey;
    border: 2px;
    border-color: black;
    padding: 5px;
    margin: 2px;
    cursor: pointer;
  }