{% load widget_tweaks %}
{% load static %}

{% block styles %}
<!-- <link rel="stylesheet" href="{% static 'css/algorithm_form.css' %}"> -->
{% endblock %}


<!-- 
<div class="verb-form row">
    <div class="col">
        {{ form.verb_type.label }}<br>
        {{ form.verb_type|add_class:"form-control" }}
    </div>
    <div class="col">
        {{ form.verb_stem.label }}<br>
        {{ form.verb_stem|add_class:"form-control" }}
    </div>
    <div class="col">
        {{ form.suffix.label }}<br>
        {{ form.suffix|add_class:"form-control" }}
    </div>
    <div class="col">
        {{ form.penalty.label }}<br>
        {{ form.penalty|add_class:"form-control" }}
    </div>
    <div class="col">
        <button type="button" class="remove-verb-button">-</button>
    </div>
     -->

<!-- Data to access in the JS. -->
<div id="data" data-verb-count="{{ verb_formset.total_form_count }}"
    data-freq-count="{{ frequency_formset.total_form_count }}"></div>

<form class="algorithm-form hidden flex-col items-stretch bg-gray-300 p-3 rounded-md space-y-3 z-20 mt-1 absolute"
    method="post">

    
    <div class="flex flex-row justify-between">
        <!-- Saved algorithms -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
            <div class="dropdown-container">
                <select id="dropdown1" class="border px-2 rounded ">
                    <option selected disabled value="">TEMPLATES</option> <!-- Default option -->
                    {% for obj in algorithm_templates %}
                    <option value="{{ obj.id }}" data-definition="{{ obj }}">{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="dropdown-container">
                <select id="dropdown2" class="border px-2 rounded ">
                    <option selected disabled value="">CUSTOM</option> <!-- Default option -->
                    {% for obj in saved_algorithms %}
                    <option value="{{ obj.id }}" data-definition="{{ obj }}">{{ obj.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button class="dismiss-btn" type="button" onclick="dismissAlgorithmForm()">x</button>
    </div>

    <!-- Verb forms -->
    <div class="verb-formset space-y-1">
        <h2>Verbs</h2>
        {{ verb_formset.management_form }}
        {% for form in verb_formset %}
        <div class="verb-form flex flex-row gap-2 items-start">
            {% for field in form %}
            <div>
                {{ field|add_class:"border px-2 rounded w-20" }} <!-- max-w-xs limits the width -->
            </div>
            {% endfor %}
            <div class="flex items-center"> <!-- vertically centers the button -->
                <button class="remove-button del-btn" type="button">-</button>
            </div>
        </div>
        {% endfor %}
        <div class="pt-1">
            <button class="add-btn" type="button" id="add-verb-button">+</button>
        </div>
    </div>
    <!-- Frequency forms -->
    <div class="freq-formset space-y-1">
        <h2>Frequencies</h2>
        {{ frequency_formset.management_form }}
        {% for form in frequency_formset %}

        <div class="freq-form flex flex-row gap-2 items-start">
            {% for field in form %}
            <div>
                {{ field|add_class:"border px-2 rounded w-20" }} <!-- max-w-xs limits the width -->
            </div>
            {% endfor %}
            <div class="flex items-center"> <!-- vertically centers the button -->
                <button class="remove-button del-btn" type="button">-</button>
            </div>
        </div>

        {% endfor %}
        <div class="pt-1">
            <button class="add-btn" type="button" id="add-freq-button">+</button>
        </div>
    </div>
    <div class="">
        <input id="alg-name" class="border rounded px-2" type="text" name="name" placeholder="Algorithm name">
    </div>

    <!-- Passage selection dropdown -->
    <div>
        <button class="psg border rounded px-2 bg-white" type="button" onclick="showDropdown(this)">Passage</button>
    </div>
    {% include 'widgets/passage_selector.html' %}

    <div class="flex flex-row space-x-6">
        <input id="run" class="btn" type="submit" value="Run">
        <input id="save" class="btn" type="submit" value="Save">
    </div>

</form>


<!-- JavaScript code goes here -->